include lib3po.dylib
include libamplsolver.dylib
include libcolin.dylib
include libconmin.dylib
include libcport.dylib
include libdakota_dll_api.dylib
include libdakota_src.dylib
include libdakota_src_fortran.dylib
include libddace.dylib
include libdfftpack.dylib
include libdream.dylib
include libeutils.dylib
include libfsudace.dylib
include libhopspack.dylib
include libinterfaces.dylib
include libjega.dylib
include libjega_fe.dylib
include liblhs.dylib
include liblhs_mod.dylib
include liblhs_mods.dylib
include libmoga.dylib
include libncsuopt.dylib
include libnidr.dylib
include libnomad.dylib
include liboptpp.dylib
include libpebbl.dylib
include libpecos.dylib
include libpecos_src.dylib
include libpsuade.dylib
include libscolib.dylib
include libsoga.dylib
include libsurfpack.dylib
include libsurfpack_c_interface.dylib
include libsurfpack_fortran.dylib
include libsurfpack_interpreter.dylib
include libteuchos.dylib
include libtinyxml.dylib
include libutilib.dylib
include libutilities.dylib
include libboost_filesystem.dylib
include libboost_program_options.dylib
include libboost_regex.dylib
include libboost_serialization.dylib
include libboost_signals.dylib
include libboost_system.dylib
include libevent-2.0.5.dylib
include libevent_pthreads-2.0.5.dylib
include libgcc_s.1.dylib
include libgfortran.3.dylib
include libmpi.1.dylib
include libmpi_cxx.1.dylib
include libmpi_mpifh.2.dylib
include libmpi_usempif08.0.dylib
include libopen-pal.6.dylib
include libopen-rte.7.dylib
include libquadmath.0.dylib
include libstdc++.6.dylib
